/* styles.css */

body {
  background-color: #e9ecef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chat-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#chat-box {
  height: 500px;
  overflow-y: auto;
  border-radius: 10px 10px 0 0;
}

#chat-log {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
}

.user-message {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.bot-message {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: #333;
}

#chat-input-container {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

.loader {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  width: 33px;
  height: 33px;
  border: 2px solid red;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}

.loader::after {
  border-color: #ff3d00;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: flex;
  align-items: center;
}

/* replay as button */
.bot-message button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.bot-message button:hover {
  background-color: #0056b3;
}




.message-timestamp {
  color: #888; /* Color for the timestamp */
  font-size: 0.8em; /* Adjust the font size if needed */
  margin-right: 5px; /* Add some space between the timestamp and the message */
}